@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply input-bordered border-2;
}

.input-group > :first-child {
  border-top-left-radius: var(--rounded-btn, 0.5rem);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--rounded-btn, 0.5rem);
  border-bottom-right-radius: 0;
}

.error {
  @apply mt-2 px-3 py-2 flex items-center gap-4 border-2 border-error rounded-lg text-error;
}

.steps .step::before {
  @apply h-1;
}

/* .error {
  @apply alert block bg-transparent px-0 py-2 text-error italic;
} */